{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Solar System</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="sidebar">
		<div class="sidebar-list">
			<div class="sidebar-item">
				<img src="{% static 'img/search.png' %}" alt="">
				<p>Solar system</p>
			</div>
			</div>
			<div class="sidebar-item">
				<p>Dangerous Asteroids</p>
			</div>
		</div>

		<div class="sidebar-info">
			<div class="slider-container">
				<div class="slider">
					<div class="slide previous">
						<h3>465633 (2009 JR5)</h3>
						<p>Near-Earth asteroid orbits which cross the Earth’s orbit similar to that of 1862 Apollo</p>
					</div>
					<div class="slide current">
						<h3>(2015 UG)</h3>
						<p>Near-Earth asteroid orbits which cross the Earth’s orbit similar to that of 1862 Apollo</p>
					</div>
					<div class="slide next">
						<h3>(2016 RT)</h3>
						<p>Near-Earth asteroid orbits similar to that of 2062 Aten</p>
					</div>
				</div>
			<button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
				<button class="next-button" aria-label="Посмотреть следующий слайд">&gt;</button>
			</div>
		</div>

	</div>
	<div class="content">
		{% block content %}
		
		{% endblock content %}
	</div>
</body>
</html>
