* {
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	background: #292643;

	display: flex;
}

h1 {
	width: 280px;
}

.sidebar {
	margin: 1vh;
	width: 280px;	
	height: 98vh;	
	background: linear-gradient(180deg, rgba(131, 127, 212, 0.5) 0%, rgba(68, 66, 110, 0.5) 99.99%);	
	display: flex;
	flex-direction: column;
}

.sidebar-list {
	margin-left: 15px;
	padding-top: 15px;
}

.sidebar-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.sidebar-item > img {
	width: 48px;
}

.sidebar-item > p {
	color: #B2B5EF;
	font-size: 23px;
	margin-left: 10px;
}

#solar-system {
	width: 1650px;
	height: 100vh;
	position: relative;
}

.range_box {
	position: absolute;
	left: 25%;
	bottom: 10px;
	width: 70%;
	/* height: 50px; */
}

.range {
	width: 70%;
	/* height: 50px; */
}

.numbers {
	display: flex;
	gap: 58.5px;	
}

.numbers > p {
	color: white;
}

.testimonial-slider-container {
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
	flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide > p,
.slide > h3 {
	color: #B2B5EF;
}

.testimonial-points {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 5px;
}

/* .testimonial-point {
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    background: #c4c4c4;
}

.testimonial-point-active {
    width: 18px;
    height: 18px;
    border: none;
} */

.prev-button,
.next-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
	color: #B2B5EF;
}

.prev-button {
    left: 10px;
}
  
.next-button {
    right: 10px;
}